.main-page {
  padding: 20px;
  position: relative;

  form {
    margin-bottom: 40px;
  }

  .question-section {
    &__question {
      display: flex;
      justify-content: left;
      margin-bottom: unset;
    }

    .outline-questions {
      display: flex;
      justify-content: space-evenly;
      margin: 50px 0;

      input[type="radio"] {
        display: none;
      }
    }
  }

  .button {
    margin: 0 25%;
  }
}

.auth-container {
  width: 40vw;
  margin: 3% auto;
}

.results {
  margin: 5vh auto;
  width: 60vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  .answers-list {
    .question {
      margin: 10px 0;
    }
  }

  .btn-end {
    margin-top: 20px;
  }
}

.page404 {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 10vh;
}